In [80]:
uso_cpu = [
[20, 25, 40, 50, 45, 60, 55, 35, 70, 65],
[30, 35, 50, 60, 40, 55, 60, 45, 50, 55],
[15, 20, 30, 25, 35, 40, 45, 50, 55, 60],
[10, 15, 25, 35, 45, 50, 55, 60, 65, 70],
]

In [ ]:
#exe1
def uso_maximo(lista):
    maior_uso = 0
    for i in lista:
        if i > maior_uso:
            maior_uso = i
    print(f'O valor máximo de uso para a CPU dessa região foi de {maior_uso}.')

uso_maximo([20, 25, 40, 50, 45, 60, 55, 35, 70, 65])
uso_maximo([30, 35, 50, 60, 40, 55, 60, 45, 50, 55])
uso_maximo([15, 20, 30, 25, 35, 40, 45, 50, 55, 60])
uso_maximo([10, 15, 25, 35, 45, 50, 55, 60, 65, 70])

O valor máximo de uso para a CPU dessa região foi de 70.
O valor máximo de uso para a CPU dessa região foi de 60.
O valor máximo de uso para a CPU dessa região foi de 60.
O valor máximo de uso para a CPU dessa região foi de 70.

In [82]:
#exe 2
def acima_da_media(lista):
    media = sum(lista)/10
    acima_media = 0
    for i in lista:
        if i > media:
            acima_media += 1
    print(f'{acima_media} valores estão acima da média dessa região.')
    
acima_da_media([20, 25, 40, 50, 45, 60, 55, 35, 70, 65])
acima_da_media([30, 35, 50, 60, 40, 55, 60, 45, 50, 55])
acima_da_media([15, 20, 30, 25, 35, 40, 45, 50, 55, 60])
acima_da_media([10, 15, 25, 35, 45, 50, 55, 60, 65, 70])

5 valores estão acima da média dessa região.
6 valores estão acima da média dessa região.
5 valores estão acima da média dessa região.
6 valores estão acima da média dessa região.

In [83]:
# exe 3
def dados_decrescentes(lista):
   return sorted(lista, reverse = True)
    
dados_decrescentes([20, 25, 40, 50, 45, 60, 55, 35, 70, 65])
dados_decrescentes([30, 35, 50, 60, 40, 55, 60, 45, 50, 55])
dados_decrescentes([15, 20, 30, 25, 35, 40, 45, 50, 55, 60])
dados_decrescentes([10, 15, 25, 35, 45, 50, 55, 60, 65, 70])

[70, 65, 60, 55, 50, 45, 35, 25, 15, 10]

In [84]:
# exe 4
import pandas as pd
uso_cpu = [
[20, 25, 40, 50, 45, 60, 55, 35, 70, 65],
[30, 35, 50, 60, 40, 55, 60, 45, 50, 55],
[15, 20, 30, 25, 35, 40, 45, 50, 55, 60],
[10, 15, 25, 35, 45, 50, 55, 60, 65, 70],
]

colunas = [f"hora_{i}" for i in range(1, len(uso_cpu[0]) + 1)]
linhas = ["us-east-1", "us-west-2", "eu-central-1", "sa-east-1"]

df = pd.DataFrame(data=uso_cpu, columns=colunas, index=linhas)

In [85]:
display(df)

,hora_1,hora_2,hora_3,hora_4,hora_5,hora_6,hora_7,hora_8,hora_9,hora_10
us-east-1,20,25,40,50,45,60,55,35,70,65
us-west-2,30,35,50,60,40,55,60,45,50,55
eu-central-1,15,20,30,25,35,40,45,50,55,60
sa-east-1,10,15,25,35,45,50,55,60,65,70

In [86]:
df['Uso_Medio'] = df.mean(axis = 1)

In [87]:
display(df)

,hora_1,hora_2,hora_3,hora_4,hora_5,hora_6,hora_7,hora_8,hora_9,hora_10,Uso_Medio
us-east-1,20,25,40,50,45,60,55,35,70,65,46.5
us-west-2,30,35,50,60,40,55,60,45,50,55,48.0
eu-central-1,15,20,30,25,35,40,45,50,55,60,37.5
sa-east-1,10,15,25,35,45,50,55,60,65,70,43.0